/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* base */

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
            url('fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    background-color: #373A42;
    color: #FFF;
    font-family: OpenSans;
}

.main-wrapper {
    margin-bottom: 80px;
}

/* header */

.header {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: #3D414A;
}

.header__inner {
    max-width: 768px;
    margin: 0 auto;
}

.header__item {
    display: block;
    float: left;
    width: calc(100% / 4);
    height: 100%;
    font-size: 12px;
    color: #72757B;
    text-align: center;
    text-decoration: none;
}

.header__item.is-active {
    color: #FFF;
}

.header__item:nth-child(3) .header__icon {
    margin-top: 15px;
    margin-bottom: -1px;
}

.header__item:nth-child(4) .header__icon {
    margin-top: 17px;
    margin-bottom: -3px;
}

.header__icon {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}

.header__icon svg {
    fill: #72757B;
}

.header__item.is-active .header__icon svg {
    fill: #FFF;
}

.hero {
    display: block;
    text-decoration: none;
    max-width: 768px;
    margin: 0 auto;
}

.hero__wrapper {
    margin: 20px;
    padding: 10px;
    background-color: #4a505c;
    text-align: center;
}

.hero__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #9da0a4;
    font-size: 13px;
    line-height: 200%;
}

.hero__main {
    color: #FFF;
    font-size: 18px;
}

.Countdown {
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
}

.Countdown-col-element {
    display: inline-block;
}

.Countdown-col-element strong {
    display: inline-block;
}

.Countdown-col-element i {
    display: inline-block;
    margin: 0 14px;
    text-decoration: none;
    font-size: 32px;
    animation-duration: 2s;
    animation-name: blink-animation;
    animation-iteration-count: infinite;
}

@keyframes blink-animation {
    0%   {opacity: 0;}
    1%   {opacity: 1;}
    50%  {opacity: 1;}
    51%  {opacity: 0;}
    100% {opacity: 0;}
}

.Countdown-col-element span {
    display: block;
}

.Countdown-col-element strong {
    font-size: 32px;
}

.Countdown-col-element span {
    margin-top: 6px;
    font-size: 10px;
    text-align: left;
    text-indent: 5px;
    text-transform: uppercase;
    color: #9da0a4;
}

.Countdown-col:nth-child(2) .Countdown-col-element span {
    text-indent: 1px;
}
.Countdown-col:nth-child(3) .Countdown-col-element span {
    text-indent: -3px;
}
.Countdown-col:nth-child(4) .Countdown-col-element span {
    text-indent: 1px;
}

.list {
    padding: 2px 20px;
    background-color: #4a505c;
    max-width: 768px;
    margin: 0 auto;
}

.list__link {
    position: relative;
    display: block;
    margin-top: 8px;
    padding-bottom: 16px;
    padding-left: 42px;
    text-decoration: none;
    border-bottom: 1px solid #363a42;
    color: #9da0a4;
}

.list__link:last-child {
    border: 0;
}

.list__date {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.list__date span {
    display: block;
    width: 100%;
}

.list__date .day {
    font-size: 27px;
    text-align: right;
}

.list__date .tbd {
    font-size: 17px;
    line-height: 44px;
}

.list__date .month {
    font-size: 17px;
}

.list__detail {
    color: #FFF;
}

.list__name, .list__location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list__name {
    font-size: 15px;
    line-height: 190%;
}

.list__location {
    font-size: 12px;
    color: #9da0a4;
}

.list__more {
    display: block;
    padding: 10px 0 20px 0;
    background-color: #4a505c;
    text-align: center;
    text-decoration: none;
    color: #9da0a4;
    max-width: 768px;
    margin: 0 auto;
}

.details__image {
    margin: 20px;
}

.details__image img {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    width: auto;
    height: auto;
    margin: auto;
}

.details__description {
    padding: 20px;
    background-color: #4a505c;
    line-height: 148%;
    text-align: justify;
}

.DayPicker {
    width: 100%;
}

.DayPicker-wrapper.DayPicker-wrapper {
    padding: 20px;
}

.DayPicker-wrapper .DayPicker-Month {
    width: 100%;
    margin: 0;
    padding: 0;
}

.DayPicker-wrapper .DayPicker-Day {
    padding: 0;
}

.daypicker__cell {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55px;
}

.daypicker__cellday {
    position: absolute;
    color: lightgray;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.daypicker__indicate {
    padding: 8px;
    border: 1px solid #0175ff;
    border-radius: 50%;
}

.daypicker__indicator {
    position: absolute;
    top: 10px;
    left: 10px;
}

.DayPicker-Caption.DayPicker-Caption {
    text-align: center;
    margin: 10px 0 20px 0;
}

.DayPicker-NavButton.DayPicker-NavButton {
    display: none;
}

.calendar__wrapper {
    max-width: 768px;
    margin: 0 auto;
}

.calendar__navigation {
    text-align: center;
}

.calendar__navigation button {
    background-color: #4a505c;
    border: 0;
    color: #FFF;
    height: 48px;
    width: 48px;
    padding: 0 0 3px 0;
    font-size: 20px;
    margin: 0 10%;
    cursor: pointer;
}

.calendar__navigation button:focus {
    outline: none;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.sk-fading-circle {
    margin: 50% auto 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #FFF;
    border-radius: 100%;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
    transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
    animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
    animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
    animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
    animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
    animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
    animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
    animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

.about {
    padding: 20px;
    text-align: center;
}

.about__link {
    display: block;
    color: #007aff;
    padding: 20px 0;
    text-decoration: none;
}